@inject IViewRenderService InjView

@model Pages

@{
    var LnkHost = InjView.HostURL;
    ViewData["Title"] = "Rejected - Bike Rentals";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">Bike Rentals</h6>
                            <h1 class="header-title">Rejected</h1>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.List_Rentals.Count() == 0)
            {
                <text>
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col" style="border: 1px solid #e3ebf6;">
                                    <form>
                                        <div class="input-group input-group-flush">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i data-feather="search" style="height: 18px;"></i>
                                                </span>
                                            </div>
                                            <input class="list-search form-control" type="search" placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto mr-n3">
                                    <form data-select2-id="3">
                                        <select class="custom-select custom-select-sm form-control-flush" data-toggle="select" data-options='{"minimumResultsForSearch": -1}' tabindex="-1" aria-hidden="false">
                                            <option value="10" data-select2-id="1">10 per page</option>
                                            <option value="25" data-select2-id="2">25 per page</option>
                                            <option value="50" data-select2-id="2">50 per page</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Rental Date</th>
                                        <th>Customer</th>
                                        <th>Bike</th>
                                        <th>Rate</th>
                                        <th>Hours</th>
                                        <th>Rate</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody class="list font-size-base">
                                    <tr>
                                        <td colspan="15">No records to display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </text>
            }
            else
            {
                <text>
                    <div class="card" data-list='{"valueNames": ["item-bike"], "page": 10, "pagination": {"paginationClass": "list-pagination"}}' id="PrdAllList">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col" style="border: 1px solid #e3ebf6;">
                                    <form>
                                        <div class="input-group input-group-flush">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i data-feather="search" style="height: 18px;"></i>
                                                </span>
                                            </div>
                                            <input class="list-search form-control" type="search" placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto mr-n3">
                                    <form data-select2-id="3">
                                        <select class="custom-select custom-select-sm form-control-flush" data-toggle="select" data-options='{"minimumResultsForSearch": -1}' tabindex="-1" aria-hidden="false">
                                            <option value="10" data-select2-id="1">10 per page</option>
                                            <option value="25" data-select2-id="2">25 per page</option>
                                            <option value="50" data-select2-id="2">50 per page</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-nowrap card-table" id="SortBy">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Rental Date</th>
                                        <th>Customer</th>
                                        <th>Bike</th>
                                        <th>Category</th>
                                        <th>Rate</th>
                                        <th>Hours</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody class="list font-size-base">
                                    @{
                                        var Ctr = 1;
                                        foreach (var Row in Model.List_Rentals)
                                        {
                                            var Stamp = Row.Rental_Date.ToDate().ToString("MMM-dd-yyyy");
                                            <text>
                                            <tr>
                                                <td>@Ctr</td>
                                                <td class="item-title no-wrap">@Row.Rental_Date.ToDate().ToString("MMM-dd-yyyy").ToUpper()</td>
                                                <td class="item-rental-date no-wrap">@Row.Customer</td>
                                                <td class="item-bike no-wrap">@Row.Bike</td>
                                                <td class="item-bike no-wrap">@Row.Category</td>
                                                <td class="item-rate no-wrap">@Row.Hourly_Rate.ToString("#, ##0.00")</td>
                                                <td class="item-usage no-wrap">@Row.Hourly_Usage</td>
                                                <td class="item-total no-wrap">@((Row.Hourly_Usage * Row.Hourly_Rate).ToString("#, ##0.00"))</td>
                                            </tr>
                                            </text>
                                            Ctr++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </text>
                }
        </div>
    </div>
</div>