@inject IViewRenderService InjView

@model Pages

@{
    var LnkHost = InjView.HostURL;
    ViewData["Title"] = "Leased - Bike Rentals";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">Bike Rentals</h6>
                            <h1 class="header-title">Track</h1>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.List_Rentals.Count() == 0)
            {
                <text>
                    <div class="card">
                        <div class="card-body">
                            No records found.
                        </div>
                    </div>
                </text>
            }
            else
            {
                <text>
                    <div class="card small-box" data-list='{"valueNames": ["item-bike"], "page": 10, "pagination": {"paginationClass": "list-pagination"}}' id="PrdAllList">
                        <div class="card-search">
                            <form method="post" asp-area="cms" asp-controller="rentals" asp-action="search" asp-route-page="r3" onsubmit="return OnSinlgePageSearch(this);" data-form-display="#tbl0res" class="form-group">
                                <div class="input-group input-group-alt">
                                    <div class="input-group-prepend dropdown">
                                        <button class="btn btn-secondary input-group-filter" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <span id="searchby">Filter By All</span>
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu" style="">
                                            <div class="dropdown-arrow"></div>
                                            <a data-dropdown-key="customer" data-dropdown-value="Filter By Customer" data-dropdown-owner="#keytype" data-dropdown-display="#searchby" class="dropdown-item">Customer</a>
                                            <a data-dropdown-key="bike" data-dropdown-value="Filter By Bike Name" data-dropdown-owner="#keytype" data-dropdown-display="#searchby" class="dropdown-item">Bike Name</a>
                                            <a data-dropdown-key="category" data-dropdown-value="Filter By Category" data-dropdown-owner="#keytype" data-dropdown-display="#searchby" class="dropdown-item">Category</a>
                                            <a data-dropdown-key="all" data-dropdown-value="Filter By All" data-dropdown-owner="#keytype" data-dropdown-display="#searchby" class="dropdown-item">All</a>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-box">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="border-radius: 0;">
                                                <span class="fa fa-search"></span>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="keywords" placeholder="Search" style="height: auto;">
                                        <input type="hidden" id="keytype" name="keytypes" value="all" />
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive" id="tbl0res">
                            <table class="table table-sm table-hover table-nowrap card-table" id="SortBy">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Rental Date</th>
                                        <th>Customer</th>
                                        <th>Bike</th>
                                        <th>Category</th>
                                        <th>Rate</th>
                                        <th>Hours</th>
                                        <th>Total</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody class="list font-size-base">
                                    @{
                                        var Ctr = 1;
                                        foreach (var Row in Model.List_Rentals)
                                        {
                                            var Stamp = Row.Rental_Date.ToDate().ToString("MMM-dd-yyyy");
                                            <text>
                                            <tr>
                                                <td>@Ctr</td>
                                                <td class="item-title no-wrap">@Row.Rental_Date.ToDate().ToString("MMM-dd-yyyy").ToUpper()</td>
                                                <td class="item-rental-date no-wrap">@Row.Customer</td>
                                                <td class="item-bike no-wrap">@Row.Bike</td>
                                                <td class="item-bike no-wrap">@Row.Category</td>
                                                <td class="item-rate no-wrap">@Row.Hourly_Rate.ToString("#, ##0.00")</td>
                                                <td class="item-usage no-wrap">@Row.Hourly_Usage</td>
                                                <td class="item-total no-wrap">@((Row.Hourly_Usage * Row.Hourly_Rate).ToString("#, ##0.00"))</td>
                                                <td style="width: 150px;" class="text-right">
                                                    <a style="padding: 3px 7px;" class="btn btn-sm btn-primary"
                                                       asp-area="cms" asp-controller="rentals" asp-action="maps" asp-route-key="@Row.Rental_ID.ToString().ToEncode()" target="_blank">
                                                        <i data-feather="map" style="height: 13px;"></i>View Location
                                                    </a>
                                                    <a style="padding: 3px 7px;" href="#" class="btn btn-sm btn-success"
                                                       data-url="@Url.Action("return", "rentals", new { Area = "cms", key = Row.Rental_ID.ToString().ToEncode() })"
                                                       data-modalia="#MdlForm"
                                                       data-loader="#FrmLdMap"
                                                       onclick="return PopupDialog(this);">
                                                        <i data-feather="edit" style="height: 13px;"></i> Return
                                                    </a>
                                                </td>
                                            </tr>
                                            </text>
                                            Ctr++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="FrmLdMap" class="overlay">
                            <span class="spinner-border text-success" role="status"></span>
                        </div>
                    </div>
                    </text>
                }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('a[data-dropdown-key]').on('click', function () {
            var a = $(this).data('dropdown-display');
            var b = $(this).data('dropdown-owner');
            $(a).html($(this).data('dropdown-value'));
            $(b).val($(this).data('dropdown-key'));
        });
    </script>
}