@inject ICurrentUserService InjUser

@{
    var PgController = ViewContext.RouteData.Values["Controller"].ToNullString();
    var PgAction = ViewContext.RouteData.Values["Action"].ToNullString();
    var PgArea = ViewContext.RouteData.Values["Area"].ToNullString();
    var CurUser = InjUser.GetInfo();
}

<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-action="index" asp-controller="home">
            <img src="~/uploads/logo.jpg" class="navbar-brand-img mx-auto" alt="Bike Rentals"
                style="height: auto; width: 100%;">
        </a>
        <div class="collapse navbar-collapse" id="sidebarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="@(PgController.ToLower().Equals("home") ? "nav-link active" : "nav-link")"
                       asp-action="index" asp-controller="home" asp-area="cms">
                        <i data-feather="grid"></i> Dashboard
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mb-md-4">
                @switch (CurUser.Role.ToUpper())
                {
                    case "OWNER":
                    case "DEVELOPER":
                        <text>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i data-feather="database"></i> Rentals
                                </a>
                                <div class="collapse show"
                                     id="sidebarRentals">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("booking")) ? "nav-link active" : "nav-link")"
                                               asp-area="cms" asp-controller="rentals" asp-action="reservation">
                                                Reservation
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("track")) ? "nav-link active" : "nav-link")"
                                               asp-area="cms" asp-controller="rentals" asp-action="track">
                                                Track
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("rejected")) ? "nav-link active" : "nav-link")"
                                               asp-area="cms" asp-controller="rentals" asp-action="rejected">
                                                Rejected
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("history")) ? "nav-link active" : "nav-link")"
                                               asp-area="cms" asp-controller="rentals" asp-action="history">
                                                History
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </text>
                        break;
                    default:
                        <text>
                            <li class="nav-item">
                                <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("booking")) ? "nav-link active" : "nav-link")"
                                    asp-area="cms" asp-controller="rentals" asp-action="reservation"
                                    style="font-size: 12px;">
                                    <i data-feather="database"></i> Rentals
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="@((PgController.ToLower().Equals("rentals") && PgAction.ToLower().Equals("track")) ? "nav-link active" : "nav-link")"
                                   asp-area="cms" asp-controller="rentals" asp-action="track"
                                   style="font-size: 12px;">
                                    <i data-feather="database"></i>Transactions
                                </a>
                            </li>
                        </text>
                        break;
                }
            </ul>
            @switch (CurUser.Role.ToUpper())
            {
                case "OWNER":
                case "DEVELOPER":
                    <text>
                        <hr class="navbar-divider my-3" />
                        <h6 class="navbar-heading">
                            Manage
                        </h6>
                        <ul class="navbar-nav mb-md-4">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="cms" asp-controller="bikes" asp-action="index">
                                    <i class="fe" data-feather="grid"></i> Bikes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="cms" asp-controller="reports" asp-action="sales">
                                    <i class="fe" data-feather="bar-chart"></i> Sales Reports
                                </a>
                            </li>
                        </ul>
                    </text>
                    break;
            }
        </div>
    </div>
</nav>